<h1>Course Listing</h1>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro to Computer Science</l1>
  <li>Description: A thorough intro to computer science</l1>
</ul>

<ul>
  <li>Code: CS222</li>
  <li>Name: Intermediate  Computer Science</l1>
  <li>Description: A thorough second look at computer science</l1>
</ul>
