@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card-content {
  min-height: 150px;
}

.sign-up-form {
  padding-top: 30px;
}
